package mailer_template

templ Card(children ...templ.Component) {
	<table class="container" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation" width="500" style="border-radius: 4px; padding: 16px 32px;">
		<tr>
			<td align="left">
				for _, child := range children {
					@child
				}
			</td>
		</tr>
	</table>
}
