package mailer_template

templ Divider() {
	<!-- Different height on mobile -->
	<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
		<tr>
			<td class="divider py-sm-10" style="padding: 30px 15px;">
				<div style="background: ##d1d5db; height: 1px; line-height: 1px;">‌</div>
			</td>
		</tr>
	</table>
}
