package components

templ Wrapper() {
	<table class="wrapper" bgcolor="#EEEEEE" cellpadding="16" cellspacing="0" role="presentation" width="100%">
		<tr>
			<td align="center">
				{ children... }
			</td>
		</tr>
	</table>
}
